# Exclude everything except what's needed
**
!dist/extension.js
!assets/
!assets/**
!media/
!media/**
!package.json
!LICENSE

# Never include these
node_modules
src
out
.vscode
*.map
*.ts
esbuild.js
tsconfig.json
.gitignore
.vscodeignore
scripts
